@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root,
:root {
  --fill-blur-1: hsla(0, 0%, 100%, 0.8);

  --fill-1: #fff;
  --fill-2: #fafafa;
  --fill-3: #999;

  --border-1: #eaeaea;
  --border-2: #eaeaea;

  --text-1: #000000;
  --text-2: #666;

  /* *---------------------- */
  --transition-1:0.4s;
}
.dark {
  --fill-blur-1: rgba(0, 0, 0, 0.5);

  --fill-1: #000000;
  --fill-2: #111;
  --fill-3: #333;

  --border-1: #333;
  --border-2: #8f8f8f;

  --text-1: #fff;
  --text-2: #888;
}
*,
*::after,
*::before,
*::placeholder {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
main {
  font-family: "Inter", sans-serif;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  background-color: rgb(39, 39, 39);
}
a {
  color: inherit;
  text-decoration: none;
}